<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Update Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Update Password</h2>
                <br>
                <p th:text="${message}" class="alert alert-info"></p>
                <br>
                <form th:action="@{/user/update-password}" method="POST">

                    <input type="hidden" name="username" th:value="${#httpServletRequest.userPrincipal.name}">

                    <label>Password Lama</label>
                    <input type="password" name="password" class="form-control"/>
                    <br>

                    <label>Password Baru</label>
                    <input type="password" name="passwordBaru" class="form-control" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" title="Password must contain minimum 8 characters, at least one uppercase letter, one lowercase letter, one number and one special character"/>
                    <br>

                    <label>Konfirmasi Password Baru</label>
                    <input type="password" name="passwordKonf" class="form-control" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" title="Password must contain minimum 8 characters, at least one uppercase letter, one lowercase letter, one number and one special character"/>

                    <br>

                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <a class="btn btn-primary" href="/">Home</a>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>