<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Agensi</title>
    <object th:include="fragments//fragment :: css" th:remove="tag"></object>
    <object th:include="fragments//fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('agensi')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Tambah Agensi</h2>
                <br>
                <form th:action="@{/agensi/add}" th:object="${agensi}" method="POST">
                    Nama Agensi : <br>
                    <input th:value="*{namaAgensi}" class="form-control" type="text" name="namaAgensi"/>
                    <br><br>

                    Alamat Agensi: <br>
                    <input th:value="*{alamatAgensi}" class="form-control" type="text" name="alamatAgensi"/>
                    <br><br>

                    Nomor Telepon : <br>
                    <input th:value="*{noTeleponAgensi}" class="form-control" type="text" name="noTeleponAgensi"/>
                    <br><br>

                    Waktu Buka : <br>
                    <input th:value="*{waktuBuka}" required class="form-control" type="time" name="waktuBuka" />
                    <br><br>

                    Waktu Tutup : <br>
                    <input th:value="*{waktuTutup}" required class="form-control" type="time" name="waktuTutup" />
                    <br><br>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Negara Destinasi</th>
                            <th><input class="btn btn-primary" type=submit name="addRow" value="Tambah Row"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="destinasi, iterationStatus : *{listDestinasi}">
                            <td>
                                <select th:field="*{listDestinasi[__${iterationStatus.index}__].noDestinasi}" class="form-control">
                                    <option th:each="destinasi : ${opsiDestinasi}"
                                            th:text="${destinasi.negaraDestinasi}"
                                            th:value="${destinasi.noDestinasi}"></option>
                                </select>
                            </td>
                            <td>
                                <button th:value="${iterationStatus.index}" class="btn btn-danger" type=submit name="deleteRow">Hapus</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <button class="btn btn-primary" type="submit" name="save">Submit</button>
                    <a class="btn btn-primary" href="/">Home</a>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>